.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess
application/config/development/*
application/controllers/test/*

public/images/
public/files/audio/*
public/files/images/*
public/tmp/upload/

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*
.svn/
tmp/
/config/
ci_instance.php
cli
composer.lock

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
